@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --primary: #B8860B;
  --secondary: #DFB15B;
  --background: #FFFFFF;
  --surface: #FAFAFA;
  --text-main: #0B192C;
  --text-muted: #334155;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text-main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
